
textarea {
    width: 50px;
}

#mostrar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 2000px;
}

div {
    padding: 0 5px;
    margin: 5px 5px;
    background-color: cornsilk;
    text-align: center;
}

p {
    color:red;
}